@model IEnumerable<TMDT_Lab4.Models.laptop>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@{Html.RenderAction("getCompany", "Laptop"); }
<hr />
<br />
@{ Html.RenderAction("getScreenResolution", "Laptop");}
<hr />
<br />
@{ Html.RenderAction("getTypeName", "Laptop");}
<hr />
<br />
@{ Html.RenderAction("getInch", "Laptop");}
<hr />
<br />
@{Html.RenderAction("getCPU", "Laptop"); }
<hr />
<br />
@{ Html.RenderAction("getSpeed","Laptop");}
<hr />
<br />
@*@{ Html.RenderAction("getMemory", "Laptop");}
<hr />
<br />*@
@*@{ Html.RenderAction("getRam","Laptop")}
<hr />
<br />*@
@{ Html.RenderAction("getGPU", "Laptop");}
<hr />
<br />
@{ Html.RenderAction("getOS", "Laptop");}
<hr />
<br />
@{ Html.RenderAction("getWeight", "Laptop");}


<input type="button" name="name" onclick="find();" value="Assign" />
<ul id="laptop"></ul>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    var uri = "../../api/LaptopAPI"
    $(document).ready(function () {
        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: formatItem(item) }).appendTo($('#laptop'));
            });
        });

    });
    function formatItem(item) {
        return item.Product + ':' + item.ScreenResolution;
    }
    function find() {
        $('#laptop').text('');
        var idString = "";
        var idCompany = $('#2').find('input[type=checkbox]');
        for (var i = 0; i < idCompany.length; i++) {
            if (idCompany[i].checked) {
                if (idString == "") {
                    idString = "2-" + idCompany[i].name;
                }
                else {
                    idString = idString + "_2-" + idCompany[i].name;
                }
            }
        }
        var idSC = $('#3').find('input[type=checkbox]');
        for (var i = 0; i < idSC.length; i++) {
            if (idSC[i].checked) {
                if (idString == "") {
                    idString = "3-" + idSC[i].name;
                }
                else {
                    idString = idString + "_3-" + idSC[i].name;
                }
            }
        }
        var idTypeName = $('#4').find('input[type=checkbox]');
        for (var i = 0; i < idTypeName.length; i++) {
            if (idTypeName[i].checked) {
                if (idString == "") {
                    idString = "4-" + idTypeName[i].name;
                }
                else {
                    idString = idString + "_4-" + idTypeName[i].name;
                }
            }
        }
        var idInch = $('#5').find('input[type=checkbox]');
        for (var i = 0; i < idInch.length; i++) {
            if (idInch[i].checked) {
                if (idString == "") {
                    idString = "5-" + idInch[i].name;
                }
                else {
                    idString = idString + "_5-" + idInch[i].name;
                }
            }
        }
        var idCPU = $('#6').find('input[type=checkbox]');
        for (var i = 0; i < idCPU.length; i++) {
            if (idCPU[i].checked) {
                if (idString == "") {
                    idString = "6-" + idCPU[i].name;
                }
                else {
                    idString = idString + "_6-" + idCPU[i].name;
                }
            }
        }
        var idGPU = $('#10').find('input[type=checkbox]');
        for (var i = 0; i < idGPU.length; i++) {
            if (idGPU[i].checked) {
                if (idString == "") {
                    idString = "10-" + idGPU[i].name;
                }
                else {
                    idString = idString + "_10-" + idGPU[i].name;
                }
            }
        }
        var idOS = $('#11').find('input[type=checkbox]');
        for (var i = 0; i < idOS.length; i++) {
            if (idOS[i].checked) {
                if (idString == "") {
                    idString = "10-" + idOS[i].name;
                }
                else {
                    idString = idString + "_10-" + idOS[i].name;
                }
            }
        }
        $.getJSON(uri + "/" + idString).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: formatItem(item) }).appendTo($('#laptop'));
            });
        }).fail(function (jqXHR,textStatus,err) {
            $('#laptop').text('Error:' + err);
        });
    }
</script>

